.we-do {
        display: none;
    }
@media screen and (min-width: 1200px) {
    .we-do {
        display: block;
        padding-top: 0px;
    }
    .we-do-title {
        margin-bottom: 50px;
        text-align: center;
    }
    .we-do-list {
        display: flex;
    }
    .we-do-list-item {
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .we-do-item {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(47, 48, 58, 0.8);
        color: $main-bg-color;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}