/* основной цвет текста #212121 */
/* активный цвет текста #2196F3 */
/* дополнительный цвет текста #757575 */
/* второй дополнительный цвет текста #ffffff */
/* основной цвет фона #ffffff */
/* дополнительный цвет фона #AFB1B8 */
/* активный цвет проектов портфолио rgba(33, 150, 243, 0.9); */

    $main-text-color: #212121;
    $accent-text-color: #2196F3;
    $secondary-text-color: #757575;
    $main-bg-color: #ffffff;
    $secondary-bg-color: #AFB1B8;
    $team-bg-color: #F5F4FA;
    $footer-bg-color: #2F303A;
    $portfolio-accent-color: rgba(33, 150, 243, 0.9);
    $main-font: Roboto, sans-serif;
    $logo-font: Raleway, sans-serif;